*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 10%);
    color: hsl(26, 100%, 90%);
}
h1{
    text-align: center;
    font-size: 5em;
    margin-bottom: 10px;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 20%);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 25px;
    max-width: 245px;
}
.navbar a{
    color: hsl(26, 100%, 90%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 30%);
}
.navbar li{
    float: left;
}
#projects{
    background-color: hsl(0, 0%, 35%);
    border: 3px solid black;
    border-radius: 25px;
    width: 50%;
    margin: 30px;
}