*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 10%);
    color: hsl(26, 100%, 90%);
    margin: 0;
}
#container-top{
    background-color: hsl(0, 0%, 20%);
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    z-index: 1000;
}
h1{
    text-align: center;
    font-size: 4em;
    margin: 0;
}
.navbar ul{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: hsl(0, 100%, 10%);
    list-style-type: none;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 25px;
    max-width: 245px;
}
.navbar li{
    float: left;
}
.navbar a{
    color: hsl(26, 100%, 90%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 30%);
}
.container-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding-top: 30px;
}
#past-projects{
    font-size: 3em;
    margin: 0;
}
#projects{
    background-color: hsl(0, 0%, 35%);
    border: 3px solid black;
    border-radius: 25px;
    margin: 30px auto;
    width: calc(100% - 60px);
    height: 1000px;
    padding: 10px;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    float: left;

}
.projectimg{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
}
.projectimg:hover{
    padding: 0px;
}
.hover-label{
    position: absolute;
    z-index: 999;
    background-color: hsl(0, 0%, 70%);
    color: hsl(0, 0%, 0%);
    padding: 5px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}
.gallery:hover .hover-label{
    opacity: 1;
    visibility: visible;
}